# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.My Own Card Game (Unity).iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\slava\Desktop\Unity Projects\My Own Card Game\My-own-Card-Game\My Own Card Game (Unity)\.idea\.idea.My Own Card Game (Unity)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
